name: Export

on:
  workflow_call:
    inputs:
      base-url:       { required: true, type: string }
      export-type:    { required: true, type: string }
      uuid:           { required: true, type: string }
      name:           { required: false, type: string }
      description:    { required: false, type: string }
      poll-timeout-sec: { required: false, type: number }
      poll-interval-sec: { required: false, type: number }
      download-out:   { required: false, type: string }
    secrets:
      APPIAN_API_KEY: { required: true }

jobs:
  export:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Export from Appian
        uses: ./.github/actions/export
        with:
          base-url: ${{ inputs.base-url }}
          api-key: ${{ secrets.APPIAN_API_KEY }}
          export-type: ${{ inputs.export-type }}
          uuid: ${{ inputs.uuid }}
          name: ${{ inputs.name }}
          description: ${{ inputs.description }}
          poll-timeout-sec: ${{ inputs.poll-timeout-sec }}
          poll-interval-sec: ${{ inputs['poll-interval-sec'] }}
          download-out: ${{ inputs['download-out'] }}

