name: Promote

on:
  workflow_call:
    inputs:
      base-url:       { required: true, type: string }
      package-path:   { required: true, type: string }
      poll-timeout-sec: { required: false, type: number }
      poll-interval-sec: { required: false, type: number }
    secrets:
      APPIAN_API_KEY: { required: true }

jobs:
  promote:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Promote package to Appian
        uses: ./.github/actions/promote
        with:
          base-url: ${{ inputs.base-url }}
          api-key: ${{ secrets.APPIAN_API_KEY }}
          package-path: ${{ inputs.package-path }}
          poll-timeout-sec: ${{ inputs['poll-timeout-sec'] }}
          poll-interval-sec: ${{ inputs['poll-interval-sec'] }}

